body{
  
    background-color: #f6f8f9;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border: 1px solid #ECF0F1;
}


.flex{
  width:80px;
    padding-bottom: 20px;
    
    
}

.leftflex{
    display:flex;
    float:left;
    justify-content: space-between;
    flex-direction:  row;
    align-items: center;
    background-color:white;
    height: 50px;
}
.rightflex{
    display:flex;
   
    justify-content: space-between;
    flex-direction:  row;
    align-items: center;
    background-color:white;
    height: 50px;
   
}
img{
    border-radius: 50%;
}
.flex1{
    display:flex;
    float: right;
    align-items: center;
    }